
/*
In director se afla un document HTML cu 3 patrate
Pentru primul patrat:
- Seteaza bordura verde
- Seteaza culoarea textului mov
Pentru al doilea patrat:
- Seteaza bordura gri
- Seteaza culoarea textului alba
Pentru al treilea patrat:
- Seteaza bordura albastra
- Seteaza culoarea textului rosu

*/

body {
  padding: 150px;
}

.box {
  width: 150px;
  height: 150px;
  margin: 25px;
  border: 1px solid black;
  float: left;
}

.box-1 {
  border-color: green;
  color: purple;
}

.box-2 {
  border-color: grey;
  color: white;
}

.box-3 {
  border-color: blue;
  color: red;
}
