/* 1.In documentul din director se afla un formular  */

/*2. Pentru checkboxuri coloreaza elementul label verde atunci cand
un checkbox este activat  */

input[type='checkbox']:checked + label {
  color: green;
}

/*3. Pentru grupul radio, coloreaza fundalul elementului label verde deschis
cand sunt activate */

input[type='radio']:checked + label {
  background-color: lightgreen;
}

/* 4.Pentru elementul select, coloreaza optiunea selectata cu rosu si textul bold */

select option:checked {
color: red;
font-weight: bold;
}

/* 5.Pentru checkboxuri coloreaza elementul label roz deschis atunci cand
checkboxul nu este activat*/

input[type='checkbox'] + label {
  color: lightpink;
}

/*6. Pentru grupul radio, coloreaza fundalul elementului label roz deschis
atunci cand nu sunt activate */

input[type='radio'] + label {
  background-color: lightpink;
}
