@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/playfair/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair/PlayfairDisplay-BlackItalic.woff2')
      format('woff2'),
    url('../fonts/playfair/PlayfairDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/playfair/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/playfair/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair/PlayfairDisplay-Medium.woff2') format('woff2'),
    url('../fonts/playfair/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/playfair/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair/PlayfairDisplay-MediumItalic.woff2')
      format('woff2'),
    url('../fonts/playfair/PlayfairDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
    url('../fonts/playfair/PlayfairDisplay-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair/PlayfairDisplay-ExtraBoldItalic.woff2')
      format('woff2'),
    url('../fonts/playfair/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/playfair/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair/PlayfairDisplay-SemiBoldItalic.woff2')
      format('woff2'),
    url('../fonts/playfair/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair/PlayfairDisplay-SemiBold.woff2') format('woff2'),
    url('../fonts/playfair/PlayfairDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Black.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  color: #2b2b2b;
  font-size: 22px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1356px;
  margin: 0 auto;
  width: 100%;
}

/* header */

.header-secondary {
  background-image: url('./../images/banners/banner_1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.header-top-inner {
  display: flex;
}

.header-connect,
.header-controls {
  width: 50%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* .header-connect ul,
.header-controls ul {
  position: relative;
} */

.header-connect ul {
  display: flex;
  align-items: center;
}

.header-connect ul li {
  display: inline-block;
}

.header-connect ul li + li {
  margin-left: 20px;
}

.header-connect a {
  color: #ffffff;
}

.header-connect ul li:first-child i {
  font-size: 35px;
}

.header-connect i {
  font-size: 30px;
}

.header-connect ul li:last-child a {
  text-transform: uppercase;
  font-size: 16px;
}

.header-controls input {
  height: 40px;
  width: 254px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #cccccc;
  padding-left: 50px;
}

.header-controls ul li {
  display: inline-block;
}

.header-controls ul li + li {
  margin-left: 20px;
}

.header-controls i {
  font-size: 33px;
}

.header-controls ul {
  display: flex;
  align-items: center;
}

.header-controls form {
  position: relative;
}

.header-controls form i {
  font-size: 30px;
  position: absolute;
  left: 10px;
  top: 5px;
}

.header-primary {
  background-color: #2b2b2b;
  text-transform: uppercase;
  height: 52px;
  display: flex;
  align-items: center;
}

.nav-primary ul {
  display: flex;
  justify-content: space-between;
}

.nav-primary li {
  display: inline-block;
  color: #e8e8e8;
  font-size: 19px;
}

/* .header-primary {
  background-color: #2B2B2B;
  height: 52px;
} */

/* header */

/* footer */

.content {
  padding-top: 20px;
}

.footer-connect a {
  text-decoration: underline;
}

.email-address input {
  font-style: italic;
  padding-left: 21px;
  margin-top: 10px;
  height: 34px;
  width: 334px;
}

.gdpr-consent-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
}

.gdpr-consent-wrapper input {
  margin-top: 7px;
  width: 20px;
  height: 20px;
}

.gdpr-consent-wrapper label {
  font-size: 16px;
  width: 333px;
  margin-left: 16px;
}

.footer-newsletter button {
  width: 90px;
  height: 30px;
  text-transform: uppercase;
}

.footer {
  background-color: #e8e8e8;
  padding-top: 40px;
  padding-bottom: 70px;
  line-height: 1.6;
}

.footer-inner.container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-contact {
  display: inline-block;
  margin-left: 0;
}

.footer-nav ul {
  display: inline-block;
}

.footer-nav ul:nth-child(2) {
  margin-left: 157px;
}
/* nu e ok, cu margin left, decat daca nu dau zoom mare  */

.footer-social {
  margin-top: 15px;
}

.footer-social ul {
  display: flex;
}

.footer-social ul li {
  margin-right: 20px;
}

.footer-social i {
  font-size: 30px;
}

/* footer */

/* content */

.home-catalog-preview > header h1 {
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.home-catalog-preview {
  margin-top: 60px;
  border-top: 1px solid #cccccc;
}

/* .home-catalog-preview ul {
  display: flex;
  justify-content: space-between;
}

.home-catalog-preview ul li {
  width: 23.67256%;
} */

.content-inner.container .home-catalog-preview:first-child {
  margin-top: 0px;
}

.product-tile {
  text-align: center;
}

.product-tile-title {
  margin-top: 21px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.product-tiles {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.product-tile-image {
  position: relative;
}

.product-tile-badge {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 40px;
}

.home-content {
  display: flex;
  margin-top: 100px;
}

.home-content-message-to-buyer h1 {
  font-size: 44px;
  text-align: right;
}

.home-content-message-to-buyer p {
  text-align: center;
  width: 551px;
  margin-left: 139px;
  line-height: 1.8;
  font-family: 'roboto';
  font-weight: 300;
}

.home-content-message-to-buyer p:first-of-type {
  margin-top: 40px;
}

.home-content-message-to-buyer p:nth-of-type(2) {
  margin-top: 62px;
}

.product-tile-ctas {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 120px;
}

.gender {
  text-transform: uppercase;
}

/* .product-tile-price {
  margin-bottom: 50px;
} */

/* content */
